<%= csrf_meta_tag %>

<% @weapons.each do |weapon| %>
    <p><%= weapon.name %></p>
    <p><%= weapon.current_power %></p>
    <p><%= weapon.title %></p>
    <%= link_to "Visualizar", weapon_path(weapon) %>
    <br />
    <%= link_to 'Deletar', weapon, method: :delete %>
<% end %>